body{
    min-height: 100%;
}

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3px 5px #888888;
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup form{
    width: inherit;
}

.signup input[type='submit']{
    align-self: flex-end;
}

.signup h2{
    font-size: 32px;
    display: block;
}

.signup input{
    width: 100%;
}

.signup input[type='text'],
.signup input[type='password']{
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.signup input[type='text']:focus,
.signup input[type='password']:focus{
    outline: none;
}

.signup input[type='text']:focus,
.signup input[type='password']:focus{
    outline: none;
}

.signup input[type='text']:focus + .underline,
.signup input[type='password']:focus + .underline{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.signup-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}
.input-wrapper{
    position: relative;
    width: 100%;
}
.underline{
    background-color: deepskyblue;
    display: inline-block;
    height: 2px;
    width: 100%;
    position: relative;
    top: -20px;
    -webkit-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -ms-transform: scale(0,1);
    -o-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}