<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="login-wrapper">
        <form method="post">
            <input type="text" name="username" value="{{username}}" placeholder="Username">
            <input type="password" name="password" value="" placeholder="Password">
            <input type="submit">
            <div class="error">
                {{error}}
            </div>
        </form>
    </div>





</body>
</html>