{% extends "base.html" %}

{% block content %}
    <div class="login-wrapper">
        <div class="login">
            <form method="post">
                <div class="input-wrapper">
                    <input type="text" name="username" value="{{username}}" placeholder="Username">
                    <span class="underline"></span>
                </div>
                <div class="input-wrapper">
                    <input type="password" name="password" value="" placeholder="Password">
                    <span class="underline"></span>
                </div>
                <input type="submit" class="btn">
                <div class="error">
                    {{error}}
                </div>
            </form>
        </div>
    </div>
{% endblock %}